*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenedor-flexible{
  display: flex; 
  flex-direction: row;
  justify-content:flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  background-color: blueviolet;
  border: 2px solid black;
  width: 600px;
  height: 500px;
  color: white;
}
.boxy{
  width: 50%;
  height: 80px;
  background-color: orange;
  border: 2px solid black;
  font-size: 2rem;
}