/* fuentes */
.titillium-web-extralight {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.titillium-web-light {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.titillium-web-regular {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titillium-web-semibold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.titillium-web-bold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.titillium-web-black {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.titillium-web-extralight-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.titillium-web-light-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.titillium-web-regular-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.titillium-web-semibold-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.titillium-web-bold-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* Escenario plataformas */
        .escenario {
            position: relative;
            width: 500px;
            height: 300px;
            background: linear-gradient(to bottom, #87CEEB 0%, #98D8C8 50%, #6B8E23 100%);
            overflow: hidden;
        }
        .cielo {
            position: absolute;
            top: 0;
            width: 100%;
            height: 40%;
            background: linear-gradient(to bottom, #87CEEB, #B0E0E6);
        }
        .sol {
            position: absolute;
            top: 50px;
            right: 100px;
            width: 80px;
            height: 80px;
            background: #FFD700;
            border-radius: 50%;
            box-shadow: 0 0 40px #FFA500;
        }
        .nube {
            position: absolute;
            background: white;
            border-radius: 100px;
            opacity: 0.8;
        }
        .nube1 {
            top: 80px;
            left: 15%;
            width: 100px;
            height: 40px;
        }
        .nube2 {
            top: 120px;
            right: 20%;
            width: 120px;
            height: 45px;
        }
        .bosque-fondo {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60%;
            background: linear-gradient(to bottom, #228B22, #355E3B);
        }
        .suelo {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 80px;
            background: #8B4513;
            border-top: 5px solid #654321;
        }
        .pasto {
            position: absolute;
            bottom: 80px;
            width: 100%;
            height: 30px;
            background: #228B22;
        }
        .plataforma {
            position: absolute;
            background: #8B4513;
            border: 3px solid #654321;
            border-radius: 10px;
        }
        .plataforma1 {
            bottom: 200px;
            left: 15%;
            width: 200px;
            height: 25px;
        }
        .plataforma2 {
            bottom: 350px;
            left: 40%;
            width: 180px;
            height: 25px;
        }
        .plataforma3 {
            bottom: 250px;
            right: 20%;
            width: 220px;
            height: 25px;
        }

        /* css de las cards */
        
        .Teemo, .Illaoi, .Ambessa{
          position: relative;
          display: inline-block;
          vertical-align: top;
          margin-right: 20px;
        }

        .tam-img{
          width: 200px;
          height: 150px;
          display: block;
        }

         .icon-lol{
          width: 75px;
          height: 75px;
          position: absolute;
          top: 120px;
          left: 10px;
          z-index: 10;
        }

        .info-c{
          width: 200px;
          height: 180px;
          background: black;
          color: white;
          box-sizing: border-box;
          text-align: center;
          font-size: 15px;
          position: relative;
          z-index: 5;
          padding-top: 50px; /* ajustar margen */
        }

        .info-c p{
          margin: 0;
          padding: 0;
        }
        
        .info-c button {
          margin-top: 10px;
          padding: 5px 70px;
          border: none;
          background: #ffffff;
          border-radius: 5px;
          color: rgb(0, 0, 0);
          cursor: pointer;
        }

        .info-c button:hover{
          background: #e2e2e2;
        }